@{
    ViewData["Title"] = "Forgot Password Page";
}

<!-- Forgot Password Section -->
<section id="forgotpassword">
    <div id="backbuttondiv">
        <button id="fpbackbutton"> <a id="fpabackbutton" asp-area="" asp-controller="Account" asp-action="Login" class="getstarted"> <i class="material-icons">chevron_left</i> </a> </button>
    </div>
    <div id="forgotpasswordform">
        <div id="forgotpasswordtitle">
            <h2 id="forgotpasswordheading"> FORGOT PASSWORD </h2>
        </div>
        <div id="forgotpasswordformcontent">
            <div id="fginputfields">
                <h4 id="fgemail">Please Enter Your Email:    </h4>
                <input type="text" id="fgemailinput" placeholder="">
            </div>
        </div>
        <div id="fpbuttonscontainer">
            <button id="nextbutton"> NEXT </button>
        </div>
    </div>
</section>
