@{
    ViewData["Title"] = "Login Page";
}

<!-- Login Section -->
<section id="login">
    <div id="logincontainer">
        <div id="logindiv1">
            <img id="blkbigloginlogo" src="~/img/logo/blklogo.png" alt="casadespa">
        </div>
        <div id="logindiv2">
            <h1 id="logintext">WELCOME TO CASA DESPA</h1>
            <form id="loginform">
                <div id="usernamediv">
                    <span id="loginusername">USERNAME:    </span>
                    <input type="text" id="logiinuserinput" placeholder="Enter Username">
                </div>
                
                <div id="passworddiv">
                    <span id="loginpassword">PASSWORD:    </span>
                    <input type="password" id="logiinpassinput" placeholder="Enter Password">
                </div>
                <div id="buttondiv">
                    <button id="loginbutton"> LOGIN </button><br />
                </div>
                <div id="loginregdiv">
                    <a id="register" asp-area="" asp-controller="Account" asp-action="Register" class="getstarted"> REGISTER NEW ACCOUNT </a>
                </div>
                <div id="loginfgdiv">
                    <a id="forgotpassword" asp-area="" asp-controller="Account" asp-action="ForgotPassword" class="getstarted"> FORGOT PASSWORD </a>
                </div>
            </form>
    </div>
</section>