@{
    ViewData["Title"] = "FAQs Page";
}
<head>
    <style>

        .accordion {
            background-color: black;
            color: #F5D8B3;
            cursor: pointer;
            padding: 18px;
            padding-left: 30px;
            width: 85%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

            .accordion:hover {
                background-color: #F5D8B3;
                color: black;
            }

            .accordion:after {
                content: '\2193';
                color: #F5D8B3;
                font-size: 30px;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }

        .active_faqs:after {
            content: "\2191";
            color: #F5D8B3;
        }

        .panel {
            padding: 0 18px;
            background-color: #F5D8B3;
            max-height: 0;
            overflow: hidden;
            width: 85%;
            transition: max-height 0.2s ease-out;
            margin-bottom: 35px;
            padding-top: 20px;
            text-align: center;
        }

        #faqs {
            background: url(../wwwroot/img/rbg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: auto;
            width: 100%;
            margin-bottom: 30px;
        }
    </style>
</head>

<!-- Welcome Section -->
<section id="welcome">
    <div id="welcomecontainer">
        <div id="welcomediv1">
            <h1 id="welcometext">FREQUENTLY ASKED QUESTIONS</h1>
            <h3 id="welcomesubtext">FIND SOME OF YOUR QUESTION</h3>
        </div>
        <div id="welcomediv2">
            <img id="blkbiglogo" src="~/img/logo/blklogo.png" alt="casadespa">
        </div>
    </div>
</section>

<!-- End Welcome Section -->
<!-- Rates Section -->
<center>
    <section id="faqs">

        <button class="accordion"><h2>What is the Capacity of the Resort for REGULAR ACCOMODATIONS?</h2></button>
        <div class="panel">
            <h3>
                Rates are good for 15 persons. But can accomodate a maximum of 20 Persions for an overnight / 22-hr stay<br />
                *ADDITIONAL of ₱300/head in excess of 15pax.*<br /><br />
            </h3>
        </div>

        <button class="accordion"><h2>What is the Capacity of the Resort for ACCOMODATIONS with PARTY/EVENTS?</h2></button>
        <div class="panel">
            <h3>
                *ADDITIONAL CHARGE OF ₱3,000*<br />
                Maximum of 50 pax DURING THE EVENT ONLY.<br />
                Party Hours: 2pm - 10pm<br />
                STRICTLY AFTER 10PM, A MAXIMUM OF 20PAX CAN STAY IN THE VILLA<br />
                ALL GATES SHALL BE CLOSED BY 10PM for security purposes
            </h3>
        </div>

        <button class="accordion"><h2>What are the Sleeping Capacity?</h2></button>
        <div class="panel">
            <h3>
                Whe have five(5) available bed; Each bed can accomodate about 2-3 person<br />
                for a total of 15 persons. We also have ENTRA MATTRESSES FOR RENT
            </h3>
        </div>

        <button class="accordion"><h2>When can we Check-in?</h2></button>
        <div class="panel">
            <h3>Standard check-in time for a 22-hr stay is at 2pm</h3>
        </div>

        <button class="accordion"><h2>Until when can we Check-out?</h2></button>
        <div class="panel">
            <h3>
                You may check-out anytime before 12 noon. But, if you wish to extend your stay, <br />
                kindly notify us 24-hrs prior.
            </h3>
        </div>

        <button class="accordion"><h2>What is the purpose of the Security Deposit?</h2></button>
        <div class="panel">
            <h3>₱1,000 - A security deposit is required upon arrival for incidentals. This desposit <br />
            is fully refundable upon check-out and subbject to a damage inspection of the resort.</h3>
        </div>

    </section>
</center>

<script>
    var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
        this.classList.toggle("active_faqs");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
        } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
        }
    });
}
</script>