@{
    ViewData["Title"] = "Home Page";
}

<!-- Welcome Section -->
<section id="welcome">
    <div id="welcomecontainer">
        <div id="welcomediv1">
            <h1 id="welcometext">WELCOME TO CASA DESPA</h1>
            <h3 id="welcomesubtext">A PLACE FOR YOU AND YOUR FAMILY TO <br /> REST AND RELAX</h3>
        </div>
        <div id="welcomediv2">
            <img id="blkbiglogo" src="~/img/logo/blklogo.png" alt="casadespa">
        </div>
    </div>
</section>
<!-- End Welcome Section -->

<!-- Button Menu Section -->
<section id="menu">
    <div id="buttonmenucontainer">
        <div id="btndiv">
            <button id="remindersbtn" type="button">IMPORTANT REMINDERS</button>
            <button id="ratesbtn" type="button">RATES</button>
            <button id="otherbtn" type="button">AMENITIES AND OTHER RULES</button>
        </div>
    </div>
</section>

<!-- Rates Section -->
<section id="rates">
    <div id="ratesdiv">
        <div id="ratestitle">
            <h2>RATES</h2>
        </div>
        <div id="divratestable">
            <table id="ratestable">
                <tr>
                    <th>  </th>
                    <th><h3>WEEKDAYS</h3></th>
                    <th><h3>WEEKENDS</h3></th>
                </tr>
                <tr>
                    <td>
                        <h3>22 Hours</h3>
                        <h6>CHECK-IN: 2:00 PM</h6>
                        <h6>CHECK-OUT: 12:00 NN</h6>
                    </td>
                    <td><h2>₱ 12,500</h2></td>
                    <td><h2>₱ 15,000</h2></td>
                </tr>
                <tr>
                    <td>
                        <h3>DAY TOUR</h3>
                        <h6>CHECK-IN: 8:00 AM</h6>
                        <h6>CHECK-OUT: 4:00 PM</h6>
                    </td>
                    <td><h2>₱ 6,500</h2></td>
                    <td><h2>₱ 7,000</h2></td>
                </tr>
                <tr>
                    <td>
                        <h3>OVERNIGHT</h3>
                        <h6>CHECK-IN: 6:00 PM</h6>
                        <h6>CHECK-OUT: 6:00 AM</h6>
                    </td>
                    <td><h2>₱ 8,500</h2></td>
                    <td><h2>₱ 9,000</h2></td>
                </tr>
            </table>
        </div>
    </div>
</section>