@{
    ViewData["Title"] = "Home Page";
}

<!-- Welcome Section -->
<section id="welcome">
    <div id="welcomecontainer">
        <div id="welcomediv1">
            <h1 id="welcometext">WELCOME TO CASA DESPA</h1>
            <h3 id="welcomesubtext">A PLACE FOR YOU AND YOUR FAMILY TO <br /> REST AND RELAX</h3>
        </div>
        <div id="welcomediv2">
            <img id="blkbiglogo" src="~/img/logo/blklogo.png" alt="casadespa">
        </div>
    </div>
</section>
<!-- End Welcome Section -->

<!-- Button Menu Section -->
<section id="menu">
    <div id="buttonmenucontainer">
        <div id="btndiv">
            <button id="remindersbtn" type="button" href="#importantreminders"><a href="#importantreminders" id="aimportantreminders"> IMPORTANT REMINDERS </a></button>
            <button id="ratesbtn" type="button" href="#rates"><a href="#rates" id="arates">RATES</a></button>
            <button id="otherbtn" type="button" href="#amenities"><a href="#amenities" id="aamenities">AMENITIES AND OTHER RULES</a></button>
        </div>
    </div>
</section>

<!-- Rates Section -->
<section id="rates">
    <div id="ratesdiv">
        <div id="ratestitle">
            <h2>RATES</h2>
        </div>
        <div id="divratestable">
            <table id="ratestable">
                <tr>
                    <th>  </th>
                    <th><h3>WEEKDAYS</h3></th>
                    <th><h3>WEEKENDS</h3></th>
                </tr>
                <tr>
                    <td>
                        <h3>22 Hours</h3>
                        <h6>CHECK-IN: 2:00 PM</h6>
                        <h6>CHECK-OUT: 12:00 NN</h6>
                    </td>
                    <td><h2>₱ 12,500</h2></td>
                    <td><h2>₱ 15,000</h2></td>
                </tr>
                <tr>
                    <td>
                        <h3>DAY TOUR</h3>
                        <h6>CHECK-IN: 8:00 AM</h6>
                        <h6>CHECK-OUT: 4:00 PM</h6>
                    </td>
                    <td><h2>₱ 6,500</h2></td>
                    <td><h2>₱ 7,000</h2></td>
                </tr>
                <tr>
                    <td>
                        <h3>OVERNIGHT</h3>
                        <h6>CHECK-IN: 6:00 PM</h6>
                        <h6>CHECK-OUT: 6:00 AM</h6>
                    </td>
                    <td><h2>₱ 8,500</h2></td>
                    <td><h2>₱ 9,000</h2></td>
                </tr>
            </table>
        </div>
    </div>
</section>

<!-- Divider Section -->
<section id="divider">
    <div id="dividercontainer">
    </div>
</section>

<!-- Amenities Section -->
<section id="amenities">
    <div id="amenitiesdiv">
        <div id="amenitiestitle">
            <h2>AMENITIES & OTHER RULES</h2>
        </div>
    <div id="amenitiescontent">
        <div id="columns">
            <div id="column1">
                <div id="additionalfees">
                    <div id="additionalfeestitle">
                            <h3 id="feetitle">ADDITIONAL FEES</h3>
                    </div>
                    <div id="aftablecontent">
                            <table id="aftable">
                                <tr id="aftr">
                                    <th id="afprice"> <h3 id="h3af">₱ 300</h3>  </th>
                                    <td id="af"> Additional Head in Excess of 15 pax </td>
                                </tr>
                                <tr id="aftr">
                                    <th id="afprice"> <h3 id="h3af">₱ 300</h3> </th>
                                    <td id="af"> Additional For Each Pet </td>
                                </tr>
                                <tr id="aftr">
                                    <th id="afprice"><h3 id="h3af">₱ 400</h3></th>
                                    <td id="af"> Extra Mattress (Single w/ Pillow) </td>
                                </tr>
                                <tr id="aftr">
                                    <th id="afprice"><h3 id="h3af">₱ 100</h3></th>
                                    <td id="af"> Extra Blanket </td>
                                </tr>
                                <tr id="aftr">
                                    <th id="afprice"><h3 id="h3af">₱ 400</h3></th>
                                    <td id="af"> Gas Stove </td>
                                </tr>
                            </table>
                    </div>
                </div>

                <div id="securitydeposit">
                    <div id="securitydeposittitle">
                            <h3 id="feetitle">SECURITY DEPOSIT</h3>
                    </div>
                    <div id="sdcontent">
                            <h3 id="h3sd">₱ 1,000</h3>  </th>
                            <p id="sdd">A Security Deposit is Required Upon Arrival For Incidentals. This Deposit is Fully Refundable Upon Check-Out and Subject to A Damage Inspection Of The Resort.</p>
                    </div>
                </div>
            </div>

            <div id="column2">
                <div id="corkage">
                    <div id="corkagetitle">
                            <h3 id="feetitle">CORKAGE</h3>
                    </div>
                        <div id="corkagetablecontent">
                            <table id="corkagetable">
                                <tr id="corkagetr">
                                    <th id="corkageprice"> <h3 id="h3c">₱ 1,000</h3>  </th>
                                    <td id="corkagep"> Lights and Sound System </td>
                                </tr>
                                <tr id="aftr">
                                    <th id="corkageprice"> <h3 id="h3c">₱ 1,500</h3> </th>
                                    <td id="corkagep"> Catering Services </td>
                                </tr>
                            </table>
                        </div>
                </div>

                <div id="othercharges">
                    <div id="otherchargestitle">
                            <h3 id="feetitle">OTHER CHARGES</h3>
                    </div>
                        <div id="ocontent">
                            <h3 id="h3o">₱ 500</h3>
                            <p id="oc">Laundry Fee For Hard/Stubborn Stains on Sheets/Mattresses</p>
                            <p id="oc"><b>Note:</b> *MARKET VALUE PRICE* <br /> for Damaged/Missing Items</p>
                        </div>
                </div>
            </div>

             <div id="column3">
                <div id="amenitieslist">
                    <div id="amenitieslisttitle">
                            <h3 id="feetitle">AMENITIES</h3>
                    </div>
                        <div id="amenitiestablecontent">
                            <table id="amenitiestable">
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/pool.png" alt="pool"> </th>
                                    <td id="aname"> Adult Swimming Pool With Kiddie Pool </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/bed.png" alt="pool"> </th>
                                    <td id="aname"> 2 Airconditioned Bedrooms </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/bath.png" alt="pool"> </th>
                                    <td id="aname"> 2 Toilet & Bath and 1 Outdoor Shower <br/> and Toilet </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/dining.png" alt="pool"> </th>
                                    <td id="aname"> Airconditioned Dining/ Karaoke Room </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/tv.png" alt="pool"> </th>
                                    <td id="aname"> Smart Tv with Netflix </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/kitchen.png" alt="pool"> </th>
                                    <td id="aname"> Fully Equipped Kitchen </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/grill.png" alt="pool"> </th>
                                    <td id="aname"> BBQ Griller </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/park.png" alt="pool"> </th>
                                    <td id="aname"> Big Parking Space </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/mic.png" alt="pool"> </th>
                                    <td id="aname"> Free use of Karaoke </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/wifi.png" alt="pool"> </th>
                                    <td id="aname"> Free Unlimited Wifi </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/gazebo.png" alt="pool"> </th>
                                    <td id="aname"> Gazebo For Private Events </td>
                                </tr>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Divider Section -->
<section id="divider">
    <div id="dividercontainer">
    </div>
</section>

<!-- Important Reminders Section -->
<section id="importantreminders">
    <div id="remindersdiv">
        <div id="reminderstitle">
            <h2>IMPORTANT REMINDERS</h2>
        </div>
        <div id="reminderscontent">
            <div id="columns">
                <div id="column1">
                    <div id="checkin">
                        <div id="checkintitle">
                            <h3 id="cititle">CHECK-IN</h3>
                        </div>
                        <div id="checkincontent">
                            <h6 id="pcontent"> Standard check-in time for a 22-hr stay is at 2 pm </h6>
                        </div>
                    </div>

                    <div id="checkout">
                        <div id="checkouttitle">
                            <h3 id="cotitle">CHECK-OUT</h3>
                        </div>
                        <div id="checkoutcontent">
                            <h6 id="pcontent"> You may check-out anytime before 12 noon. but if you wish to extend your stay, kindly notify us 24 hrs prior. </h6>
                        </div>
                    </div>

                    <div id="payment">
                        <div id="paymenttitle">
                            <h3 id="ptitle">PAYMENT</h3>
                        </div>
                        <div id="paymentcontent">
                            <h6 id="pcontent">
                                30% downpayment is required to secure your booking.

                                DOWNPAYMENT IS STRICTLY Non-Refundable.

                                The Remaining Balance Shall be paid on-site or theough our payment channels.
                            </h6>
                        </div>
                    </div>
                </div>
                <div id="column2">
                    <div id="maximumcapacity">
                        <div id="maximumcapacitytitle">
                            <h3 id="mctitle">MAXIMUM CAPACITY</h3>
                        </div>
                        <div id="maximumcapacitycontent">
                            <h5 id="ptitle"> REGULAR ACCOMODATION </h5>
                             
                                <ul id="listmc">
                                    <li>Rates are good for 15 persons. but we can accommodate a maximum of 20 persons for an overnight/22-hour stay.</li>
                                    <li>**Additional of 300/head in Excess of 15 pax.</li>
                                </ul>

                            <h5 id="ptitle"> ACCOMODATION with PARTY/EVENTS </h5>

                            <ul id="listmc">
                                <li>ADDITIONAL CHARGE OF P 3,000</li>
                                <li>Maximum of 50 pax DURING THE EVENT ONLY.</li>
                                <li>Party Hours: 2pm - 10 pm</li>
                                <li>STRICTLY AFTER 10 PM, A Maximum of 20 pax can stay in the villa.</li>
                                <li>All Gates shall be closed by 10 pm for Security Purposes.</li>
                            </ul>
                        </div>
                    </div>

                    <div id="cleanliness">
                        <div id="cleanlinesstitle">
                            <h3 id="cleanlinesstitle">CLEANLINESS</h3>
                        </div>
                        <div id="cleanlinesscontent">
                            <h6 id="pcontent"> Please Treat our house with the same respect as you would your own home. We’ve put a lot of effort in making this into a lovely space to be enjoyed by our guests. DAMAGED/MISSING ITEMS & STAINED MATTRESSES SHALL BE CHARGED TO GUESTS.</h6>
                        </div>
                    </div>

                </div>
                <div id="column3">
                    <div id="sleepingcapacity">
                        <div id="sleepingcapacitytitle">
                            <h3 id="sctitle">SLEEPING CAPACITY</h3>
                        </div>
                        <div id="sleepingcapacitycontent">
                            <h6 id="pcontent">
                                We have Five (5) available beds; Each bed can accommodate about 2-3 persons for a total of 15 persons.

                                We also have Extra Mattresses for Rent
                            </h6>
                        </div>
                    </div>

                    <div id="noise">
                        <div id="noisetitle">
                            <h3 id="ntitle">NOISE</h3>
                        </div>
                        <div id="noisecontent">
                            <h6 id="pcontent">
                                We hope you have lots of laughter and fun times during your Stay! However, we’d appreciate it if you’re mindful and keep the noise to a minimum during night time.
                            </h6>
                        </div>
                    </div>

                    <div id="smoking">
                        <div id="nosmokingcontent">
                            <h6 id="pcontent"> STRICTLY NO SMOKING INSIDE THE HOUSE! </h6>
                            <h6 id="pcontent"> PENALTY: ₱ 3,000 </h6>
                        </div>
                    </div>

                    <div id="warning">
                        <div id="warningtitle">
                            <h3 id="wtitle">WARNING</h3>
                        </div>
                        <div id="warningcontent">
                            <h6 id="pcontent"> If any of our rules and regulations are violated, we have the right to charge extra fees or terminate your stay in our resort. </h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>