@{
    ViewData["Title"] = "Profile Page";
}
<!-- Welcome Section -->
<section id="welcome">
    <div id="welcomecontainer">
        <div id="welcomediv1">
            <h1 id="welcometext">PROFILE PAGE</h1>
        </div>
        <div id="welcomediv2">
            <img id="blkbiglogo" src="~/img/logo/blklogo.png" alt="casadespa">
        </div>
    </div>
</section>

<!-- End Welcome Section -->


<!-- Profile Page -->
<style>
    body {
        margin: 0;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #F3D6B2;
    }
</style>

<body>
    <div class="main-container">
        <div class="left-container">
            <div class="profile-section">
                <div class="profile-picture">

                    <img src="/img/pic.png" alt="Profile Picture">
                </div>
                <div class="info-section">
                    <p class="info-item"><strong>NAME</strong></p>
                    <p class="info-item1">JOHN DOE REFFER</p>

                    <p class="info-item"><strong>CONTACT NUMBER</strong></p>
                    <p class="info-item1">09173846364</p>

                    <p class="info-item"><strong>EMAIL</strong></p>
                    <p class="info-item1">JOHNDOE@GMAIL.COM</p>

                    <p class="info-item"><strong>ADDRESS</strong></p>
                    <p class="info-item1">6 SEPTEMBER ST,<br>PROJECT 8<br>QUEZON CITY<br>METRO MANILA</p>
                </div>
                <a href="#" class="update-button">UPDATE INFO</a>
            </div>
        </div>

        <div class="right-container">
            <div class="button-container">
                <a style="background-color: #C5A485; color: black;"  class="nav-button" asp-area="" asp-controller="Home" asp-action="Profile">REQUESTS</a>
                <a class="nav-button" asp-area="" asp-controller="Home" asp-action="ProfileP">PENDING PAYMENTS</a>
                <a class="nav-button" asp-area="" asp-controller="Home" asp-action="ProfileA">APPROVED</a>
            </div>

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <td><div class="table-container2">FULL NAME:</div></td>
                            <th><div class="table-container2">CONTACT NUMBER:</br></div></th>
                            <th><div class="table-container2">NUMBER<BR>OF PAX:</div></th>
                            <th><div class="table-container2">DATE</div></th>
                            <th><div class="table-container2">PACKAGE</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="table-container1">JOHN DOE REFFER</div></td>
                            <td>09652439187</td>
                            <td>8</td>
                            <td>12/23/23</td>
                            <td>22 HOURS</td>
                        </tr>
                        <tr>
                            <td><div class="table-container1">JOHN DOE REFFER</div></td>
                            <td>09163826374</td>
                            <td>2</td>
                            <td>12/23/23</td>
                            <td>DAY</td>
                        </tr>
                        <tr>
                            <td><div class="table-container1">HAROLD LIBRA</div></td>
                            <td>09148574639</td>
                            <td>6</td>
                            <td>12/01/23</td>
                            <td>NIGHT</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>


